<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>自傳 - Eli</title>
</head>
<body>
    <h1>👤 自傳</h1>
    <li>
            <a href="{{ url_for('static', filename='蔡宗霖自傳_page-0001.jpg') }}" target="_blank">
                自傳第一頁
            </a><br>
            <img src="{{ url_for('static', filename='蔡宗霖自傳_page-0001.jpg') }}" width="100%">
    </li>
    <li>
            <a href="{{ url_for('static', filename='蔡宗霖自傳_page-0002.jpg') }}" target="_blank">
                自傳第二頁
            </a><br>
            <img src="{{ url_for('static', filename='蔡宗霖自傳_page-0002.jpg') }}" width="100%">
    </li>
</body>
</html>
