<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>證書 - Eli</title>
</head>
<body>
    <h1>📜證書及歷程證明</h1>
    <ul>
        <li>
            <a href="{{ url_for('static', filename='2022海外青年英服營服務證明.png') }}" target="_blank">
                2022海外青年英服營服務證明
            </a><br>
            <img src="{{ url_for('static', filename='2022海外青年英服營服務證明.png') }}" width="300">
        </li>
        <li>
            <a href="{{ url_for('static', filename='TOEIC_LR.png') }}" target="_blank">
                TOEIC聽讀945分
            </a><br>
            <img src="{{ url_for('static', filename='TOEIC_LR.png') }}" width="300">
        </li>
        <li>
            <a href="{{ url_for('static', filename='多益說寫.png') }}" target="_blank">
                TOEIC說寫340分
            </a><br>
            <img src="{{ url_for('static', filename='多益說寫.png') }}" width="300">
        </li>
        <li>
            <a href="{{ url_for('static', filename='磐誠實習證明.png') }}" target="_blank">
                磐誠實習證明
            </a><br>
            <img src="{{ url_for('static', filename='磐誠實習證明.png') }}" width="300">
        </li>
        <li>
            <a href="{{ url_for('static', filename='碳管理規劃師乙級.png') }}" target="_blank">
                碳管理規劃師乙級
            </a><br>
            <img src="{{ url_for('static', filename='碳管理規劃師乙級.png') }}" width="300">
        </li>
        <li>
            <a href="{{ url_for('static', filename='碳規劃師研習.png') }}" target="_blank">
                碳規劃師研習課程時數證明
            </a><br>
            <img src="{{ url_for('static', filename='碳規劃師研習.png') }}" width="300">
        </li>
        <li>
            <a href="{{ url_for('static', filename='碳足跡計算.jpg') }}" target="_blank">
                碳足跡管理與計算課程時數證明
            </a><br>
            <img src="{{ url_for('static', filename='碳足跡計算.jpg') }}" width="300">
        </li>
        <li>
            <a href="{{ url_for('static', filename='陽明交大科技、ESG與能源國際爭端學分班.png') }}" target="_blank">
                陽明交大科技、ESG與能源國際爭端學分班證明
            </a><br>
            <img src="{{ url_for('static', filename='陽明交大科技、ESG與能源國際爭端學分班.png') }}" width="300">
        </li>
        <li>
            <a href="{{ url_for('static', filename='cpftraining.png') }}" target="_blank">
                cpftraining
            </a><br>
            <img src="{{ url_for('static', filename='cpftraining.png') }}" width="300">
        </li>
    </ul>
</body>
</html>
