<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>各式文件 - Eli</title>
</head>
<body>
    <h1>📁我的資料夾</h1>
    <p>這裡包含我的畢業證書、成績單、和其他相關證明文件。</p>
    <ul>
        <li>
            <a href="{{ url_for('static', filename='畢業證書.png') }}" target="_blank">
                畢業證書(中文版)
            </a><br>
            <img src="{{ url_for('static', filename='畢業證書.png') }}" width="100%">
        </li>
        <li>
            <a href="{{ url_for('static', filename='gradcertificate.jpg') }}" target="_blank">
                畢業證書(英文版)
            </a><br>
            <img src="{{ url_for('static', filename='gradcertificate.jpg') }}" width="100%">
        </li>
        <li>
            <a href="{{ url_for('static', filename='grades2.jpg') }}" target="_blank">
                微生物系中文成績單
            </a><br>
            <img src="{{ url_for('static', filename='grades2.jpg') }}" width="100%">
        </li>
        <li>
            <a href="{{ url_for('static', filename='grades.jpg') }}" target="_blank">
                微生物系英文成績單
            </a><br>
            <img src="{{ url_for('static', filename='grades.jpg') }}" width="100%">
        </li>
        <li>
            <a href="{{ url_for('static', filename='應微組修課證明.png') }}" target="_blank">
                微生物學系應用微生物組修課證明
            </a><br>
            <img src="{{ url_for('static', filename='應微組修課證明.png') }}" width="100%">
    </ul>
</body>
</html>
